body, html {
    height: 100%;
    width: 100%;
    padding: 0;
    margin: 0;
    font-family: "Gotham Rounded Book", "Helvetica Neue", Helvetica, Arial, sans-serif;
   
}

.bg {
    /* The image used */
    background-image:  linear-gradient(to top right, rgb(7, 59, 7), rgb(79, 163, 79), rgb(176, 224, 184));
    height: auto;
    width: 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: auto;
}
.container{
    padding: 32px 16px 32px 0px;
    max-width: 1200px;
    margin: 0 auto;
    height: auto;
}

.topnav{
    display: flex;
}
.logo{
   width: 50%;
    height: auto;
}
.logo img{
    max-width: 200px;
    min-width: 100px;
    width: calc(100%/1.5);
    height: auto;
    padding: 10px;
}
 .menu{
    display: flex;
    justify-content: flex-end;
    width: 50%;
    max-width: 180px;
    min-width: 100px;
    width: calc(100%/1.5);
    height: 50px;
    background-color: white;
    border-radius: 20px;
    border: 2px solid green;
}
div .menu p{
    padding: 10px;
    color: black;
    font-size: 30px;
    font-family: 'Gloria Hallelujah', cursive;
}
.mobile{
    font-size: 35px;
}
.both{
    display: flex;
}
.motto{
    display: flex;
    justify-content: flex-end;
    width: 50%;
    text-align: center;
    margin: 50px 0;
    font-size: large;
    color: white;
}
.motto div h1{
    font-size: 50px;
    padding: 0 0 10px 0;
    font-family: 'Bitter', serif;
}
.motto div p{
    padding: 20px;
    font-size: 35px;
    font-family: 'Bitter', serif;
    color: white;
}
.dowm img{
    max-width: 300px;
    min-width: 300px;
    width: calc(100%/1.5);
    height: auto;
    border-radius: 15px;
}
.photo{
    display: flex;
    justify-content: flex-start;
    width: 50%;
}
.photo img{
    width: 550px;
    height: 500px;
}
@media (max-width: 1200px) {
    .both{
        display: flex;
        flex-wrap: wrap;
    }
    .motto{
        width: 50%
    }
    .photo{
        display: flex;
        width: 50%;
    }
} 
@media (max-width: 768px) {
    .both{
        display: flex;
        flex-wrap: wrap;
    }
    .motto{
        width: 100%
    }
    .photo{
        display: flex;
        width: 100%;
    }
}
@media (max-width: 600px){
    .photo img{
        width: 500px;
        height: 500px;
    }
}
@media (max-width:500px){
    .photo img{
        width: 300px;
        height: 300px;
    }
}
@media (max-width:360px)and (max-width:480px) {
    .bg{
        width: 100%;
        height:100%;
    }
    .container{
        margin: 5px;
        padding: 5px;
    }
    .topnav{
        padding: 10px;
    }
     .logo img{
         padding-top: 10px;
        max-width: 250px;
        min-width: 100px;
        width: calc(100%/1.5);
        height: auto;
    }
    div .menu p{
        max-width: 500px;
        min-width: 150px;
        width: calc(100%/1.5);
        height: auto;
        font-size: 26px;
    }
     .motto div p{
         font-size: 16px;
         text-align: center;
         display: flex;
        justify-content: center;
     }
     .motto div h1{
        font-size: 25px;
        display: flex;
        justify-content: center;
     }
     .dowm img{
        max-width: 200px;
        min-width: 100px;
        width: calc(100%/1.5);
        height: auto;
     }
     .photo img{
         height: 250px;
         position: absolute;
         bottom: 5px;
         left: 35px;
     }
     .motto{
         padding: 3px;
     }
     .motto div h1{
         font-size: 30px;
     }
     .motto div p{
         font-size: 25px;
     }
}

 
