
.look{
  background-color: rgb(62, 131, 62);
}
.scroll{
  margin-top: 70px;
}
#mycarousel{
 position: relative;
 width: 100%;
 overflow: hidden;
}
.carousel-caption p{
  float: right;
  text-align: left;
  font-weight: 300;
  width: 50%;
  text-shadow: none;
}
.feature-head{
  text-align: center;
  color: rgb(38, 126, 38);
  font-size: 35px;
  font-family: 'Times New Roman', Times, serif;
  font-weight: bold;
}
.features{
  padding: 30px 0 50px;
}
.features img{
  max-width: 70px;
  float: left;
}
.features h4{
  text-align: center;
}
.footer{
  background-color: rgb(62, 131, 62);
}
.icon{
  padding: 0 10px;
}
.icon a{
  text-decoration: none;
  color: white;
}
.icon i{
  padding: 5px;
}
.icon :hover{
  color: rgb(83, 116, 207);
}

